<section class="two-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center wow fadeInLeft">
        <div class="one-feature">
          <img src="img/icons/header_app.svg" alt="">
          <h2>Coolest template</h2>
          <p class="body-text">
            Sed risus feugiat fusce eu sit conubia
            venenatis aliquet nisl cras eu adipiscing
            ac cras at sem cras per senectus eu parturient quam.
            Sed risus feugiat fusce eu sit conubia
            venenatis aliquet nisl cras eu adipiscing
            ac cras at sem cras per senectus eu parturient quam.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-center wow fadeInRight">
        <div class="one-feature">
          <img src="img/icons/features.svg" alt="">
          <h2>Fulfill your dreams</h2>
          <p class="body-text">
            Sed risus feugiat fusce eu sit conubia
            venenatis aliquet nisl cras eu adipiscing
            ac cras at sem cras per senectus eu parturient quam.
            Sed risus feugiat fusce eu sit conubia
            venenatis aliquet nisl cras eu adipiscing
            ac cras at sem cras per senectus eu parturient quam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>