<section class="features" id="features">
  <div class="container">
    <div class="section-heading">
      <h2>Features</h2>
      <p>Tell about your product's features. Go ahead and use icons along with description.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 feature wow fadeInUp">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-location-arrow"></i></span>
          </div>
          <div class="media-body">
            <h4>Super cool</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature wow fadeInUp">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-heart"></i></span>
          </div>
          <div class="media-body">
            <h4>Follows your heart</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature wow fadeInUp">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-lock"></i></span>
          </div>
          <div class="media-body">
            <h4>Super secure</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature wow fadeInUp" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-bug"></i></span>
          </div>
          <div class="media-body">
            <h4>No bugs here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature wow fadeInUp" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-bank"></i></span>
          </div>
          <div class="media-body">
            <h4>Better than banks</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature wow fadeInUp" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-left">
            <span><i class="fa fa-magic"></i></span>
          </div>
          <div class="media-body">
            <h4>Inivations inside</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>