<section class="features features-top" id="features">
  <div class="container">
    <div class="section-heading">
      <h2>Features</h2>
      <p>Tell about your product's features. Go ahead and use icons along with description.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/sun.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>Fast</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/Palm.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>Follows your heart</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/Bag.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>Super secure</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/Shorts.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>No bugs here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/Watermelon.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>Better than banks</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 feature">
        <div class="media">
          <div class="media-top">
            <span>
              <img src="img/icons/summer/Slippers.svg" alt="">
            </span>
          </div>
          <div class="media-body">
            <h4>Inivations inside</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>