<section class="blog-row no-padding">
  <div class="container">
    <div class="row cards-row">
      <div class="col-lg-6 col-md-6 col-sm-12 img-row">
        <img class="blog-image" src="img/space-1.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 dark-bg-row">
        <div class="card-container">
          <div class="article-meta">
            <span class="label label-primary">Featured</span>
            <a href="#">
              <h5>Our space inside beautiful Oslo city <img src="img/icons/right.svg" alt=""></h5>
            </a>
            <div class="meta">
              <span>
                <img src="img/icons/tag.svg" alt="" class="meta-icon"> SUPPORT BLOG
              </span>
              <span>
                <img src="img/icons/clock.svg" alt="" class="meta-icon"> 1 hour ago
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row cards-row">
      <div class="col-lg-6 col-md-push-6 col-md-6 col-sm-12 img-row">
        <img class="blog-image" src="img/space-2.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-pull-6 col-md-6 col-sm-12 dark-bg-row">
        <div class="card-container">
          <div class="article-meta">
            <a href="#">
              <h5>Come here and work with us. We can show you a lot of new things<img src="img/icons/right.svg" alt=""></h5>
            </a>
            <div class="meta">
              <span>
                <img src="img/icons/tag.svg" alt="" class="meta-icon"> CUSTOMERS BLOG
              </span>
              <span>
                <img src="img/icons/clock.svg" alt="" class="meta-icon"> 1 hour ago
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>