<section class="mobile-download">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="mobile-col-border col-sm-12 col-md-4 wow fadeInUp">
            <div class="row text-center">
              <i class="fa fa-android mobile-icon" aria-hidden="true"></i>
            </div>
            <div class="row text-center text-download">
              <div class="col-sm-8 col-sm-offset-2">
                <span>
                  Download our App from Play
                  Store. 100K+ Users using the
                  app now!
                </span>
              </div>
            </div>
            <div class="row text-center">
              <button class="btn btn-primary">Download</button>
            </div>
          </div>
          <div class="mobile-col-border col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.3">
            <div class="row text-center">
              <i class="fa fa-apple mobile-icon" aria-hidden="true"></i>
            </div>
            <div class="row text-center text-download">
              <div class="col-sm-8 col-sm-offset-2">
                <span>
                  Download our App from Play
                  Store. 100K+ Users using the
                  app now!
                </span>
              </div>
            </div>
            <div class="row text-center">
              <button class="btn btn-primary">Download</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.6">
            <div class="row text-center">
              <i class="fa fa-windows mobile-icon" aria-hidden="true"></i>
            </div>
            <div class="row text-center text-download">
              <div class="col-sm-8 col-sm-offset-2">
                <span>
                  Download our App from Play
                  Store. 100K+ Users using the
                  app now!
                </span>
              </div>
            </div>
            <div class="row text-center">
              <button class="btn btn-primary">Download</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
