<section class="functionality bg-gray">
  <div class="container">
    <div class="row section-heading wow fadeInUp">
      <h2>Functionality</h2>
      <p>Some amazing functions your app can do.</p>
    </div>

    <div class="row ">
      <div class="col-sm-12 col-md-4 col-md-push-4 text-center wow fadeIn" data-wow-delay="0.3">
        <div class="device-mockup iphone6 portrait black">
          <div class="device">
            <div class="screen">
              <img src="img/mobile-screen-1.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-md-pull-4 left-content">
        <div class="media wow fadeInUp">
          <div class="media-left">
            <span><i class="fa fa-lock"></i></span>
          </div>
          <div class="media-body">
            <h4>Super secure</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
        <div class="media wow fadeInUp" data-wow-delay="0.3">
          <div class="media-left">
            <span><i class="fa fa-cloud"></i></span>
          </div>
          <div class="media-body">
            <h4>Drag & Drop</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
        <div class="media wow fadeInUp" data-wow-delay="0.6">
          <div class="media-left">
            <span><i class="fa fa-pencil"></i></span>
          </div>
          <div class="media-body">
            <h4>Feel the design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 right-content">
        <div class="media wow fadeInUp">
          <div class="media-left">
            <span><i class="fa fa-lastfm"></i></span>
          </div>
          <div class="media-body">
            <h4>Technologies</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
        <div class="media wow fadeInUp" data-wow-delay="0.3">
          <div class="media-left">
            <span><i class="fa fa-bus"></i></span>
          </div>
          <div class="media-body">
            <h4>Business</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
        <div class="media wow fadeInUp" data-wow-delay="0.6">
          <div class="media-left">
            <span><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="media-body">
            <h4>Time</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>