<section class="newsletter bg-gray">
  <div class="container">
    <div class="section-heading">
      <h2>Newsletter</h2>
      <p>Subscribe to our newsletter to follow our company path.</p>
    </div>
    <form action="#" id="subscribeform" class="row newsletter-form" method="post" novalidate="novalidate">
      <div class="input-group">
        <input type="email" class="form-control" name="email" placeholder="Enter Your Email Address">
        <span class="input-group-addon">
            <button type="submit" id="js-subscribe-btn">Send</button>
        </span>
      </div>
      <div class="text-center">
        <p>
          No Spam. We Promise. Unsubscribe anytime.
        </p>
      </div>
    </form>

  </div>
</section>