<section class="bg-gray no-bottom-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading dark wow fadeInUp">Build your new perfect landing, the way you want it, with our coolest template!</h2>
        <p class="section-body light-gray text-faded wow fadeInUp">We have clean and beautifyl design and tons of components you'll love.
          <br> And we have code that you'll fell in love.</p>

        <div class="section-image-container">
          <img src="img/ipad.png" alt="IPad" class="section-image">
        </div>
      </div>
    </div>
  </div>
</section>