<section class="partners no-padding">
  <div class="container">
    <div class="partner-single wow fadeInUp" data-wow-delay="0.1s">
      <img src="img/partners/xsteel.svg" class="inject-inline" alt="XSteel logo">
    </div>
    <div class="partner-single wow fadeInUp" data-wow-delay="0.2s">
      <img src="img/partners/sc-johnson-wax-2.svg" class="inject-inline" alt="Sc Johnson logo">
    </div>
    <div class="partner-single wow fadeInUp" data-wow-delay="0.3s">
      <img src="img/partners/binom.svg" class="inject-inline" alt="Binom logo">
    </div>
    <div class="partner-single wow fadeInUp" data-wow-delay="0.4s">
      <img src="img/partners/binom.svg" class="inject-inline" alt="Binom logo">
    </div>
    <div class="partner-single wow fadeInUp" data-wow-delay="0.5s">
      <img src="img/partners/sc-johnson-wax-2.svg" class="inject-inline" alt="Sc Johnson logo">
    </div>
    <div class="partner-single wow fadeInUp" data-wow-delay="0.6s">
      <img src="img/partners/xsteel.svg" class="inject-inline" alt="XSteel logo">
    </div>
  </div>
</section>