<section class="pricing-default bg-gray" id="pricing">
  <h2 class="section-heading dark">Manage your subscriptions</h2>
  <div class="container">
    <div class="row pricing-container">
      <div class="default-pricing-table col-md-12 mt-50">
        <!-- Single Table -->
        <div class="col-md-4 wow fadeInLeft">
          <div class="single-pricing-table text-center">
            <!-- Heading -->
            <div class="pricing-table-heading">
              <h2>Basic</h2>
            </div>
            <p class="description">
              Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            </p>
            <!-- Price -->
            <div class="price">
              <span class="bucks">$</span>
              <span><b class="value">99</b> /month</span>
              <hr class="margin-md" />
            </div>

            <!-- Price Item -->
            <div class="pricing-item">
              <ul>
                <li><p><strong>Up to</strong> 79 User</p></li>
                <li><p><strong>Max 500</strong> Item Month</p></li>
                <li><p><strong>100</strong> Queris</p></li>
                <li><p><strong>Full</strong> Statistic</p></li>
              </ul>
            </div>

            <!-- Button -->
            <div class="pricing-button">
              <a href="#" class="btn btn-pricing">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Single Table -->
        <div class="col-md-4 no-padding wow fadeInUp">
          <div class="single-pricing-table pricing-special text-center">
            <!-- Heading -->
            <div class="pricing-table-heading">
              <h2>Professional</h2>
            </div>
            <p class="description">
              Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            </p>
            <!-- Price -->
            <div class="price">
              <span class="bucks">$</span>
              <span><b class="value">499</b> /month</span>
              <hr class="margin-md" />
            </div>
            <!-- Price Item -->
            <div class="pricing-item">
              <ul>
                <li><p><strong>Up to</strong> 451 User</p></li>
                <li><p><strong>Max 500</strong> Item Month</p></li>
                <li><p><strong>100</strong> Queris</p></li>
                <li><p><strong>Full</strong> Statistic</p></li>
              </ul>
            </div>
            <!-- Button -->
            <div class="pricing-button">
              <a href="#" class="btn btn-pricing filled">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Single Table -->
        <div class="col-md-4 wow fadeInRight">
          <div class="single-pricing-table text-center ">
            <!-- Heading -->
            <div class="pricing-table-heading">
              <h2>Ultimate</h2>
            </div>
            <p class="description">
              Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            </p>
            <!-- Price -->
            <div class="price">
              <span class="bucks">$</span>
              <span><b class="value">999</b> /month</span>
              <hr class="margin-md" />
            </div>
            <!-- Price Item -->
            <div class="pricing-item">
              <ul>
                <li><p><strong>Up to</strong> 1051 User</p></li>
                <li><p><strong>Max 500</strong> Item Month</p></li>
                <li><p><strong>100</strong> Queris</p></li>
                <li><p><strong>Full</strong> Statistic</p></li>
              </ul>
            </div>
            <!-- Button -->
            <div class="pricing-button">
              <a href="#" class="btn btn-pricing">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>