<section class="reviews bg-gray" id="reviews">
  <div class="container">
    <div class="row section-heading">
      <h2>Reviews</h2>
      <p>All medias will talk about your amazing product!</p>
    </div>

    <div class="row">
      <div class="review col-sm-4 wow fadeIn">
        <img src="img/icons/quote.png" alt="" class="review-sign">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <img src="img/featured2.png" alt="" class="reviewer">
      </div>
      <div class="review col-sm-4 wow fadeIn" data-wow-delay="0.3s">
        <img src="img/icons/quote.png" alt="" class="review-sign">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <img src="img/featured2.png" alt="" class="reviewer">
      </div>
      <div class="review col-sm-4 wow fadeIn" data-wow-delay="0.6s">
        <img src="img/icons/quote.png" alt="" class="review-sign">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <img src="img/featured2.png" alt="" class="reviewer">
      </div>
    </div>
  </div>
</section>