<section class="screenshots-1 bordered" id="screenshots">
  <div class="container">
    <h2 class="section-heading dark wow fadeIn">Show your beautiful screenshots</h2>
    <p class="section-body light-gray text-faded wow fadeIn" data-wow-delay="0.3">Craft memerable, emotive experiences with our range of beautiful UI elements.</p>

    <div class="row screenshots-container popup-gallery">
      <div class="col-lg-3 col-md-3 col-sm-12 screenshot wow fadeInUp">
        <a href="img/mobile-screen-1.png" class="screen-container">
          <img src="img/mobile-screen-1.png" alt="">
        </a>
        <p class="screen-description">
          Super mega functionality
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 screenshot wow fadeInUp">
        <a href="img/mobile-screen-1.png" class="screen-container">
          <img src="img/mobile-screen-1.png" alt="">
        </a>
        <p class="screen-description">
          Super mega functionality
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 screenshot wow fadeInUp">
        <a href="img/mobile-screen-1.png" class="screen-container">
          <img src="img/mobile-screen-1.png" alt="">
        </a>
        <p class="screen-description">
          Super mega functionality
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 screenshot wow fadeInUp">
        <a href="img/mobile-screen-1.png" class="screen-container">
          <img src="img/mobile-screen-1.png" alt="">
        </a>
        <p class="screen-description">
          Super mega functionality
        </p>
      </div>


    </div>
  </div>
</section>