<section class="splash splash--default">
  <h1 class="heading-text wow fadeInLeft">
    Let's go and create amazing stuff!
  </h1>

  <a href="#" class="btn btn-rect btn-xl btn-rect--white wow fadeInRight">BUY THIS TEMPLATE</a>
</section>