<section class="splash splash--light">
  <h1 class="heading-text">
    Let's go and create amazing stuff!
  </h1>

  <a href="#" class="btn btn-rect btn-xl btn-rect--dark">BUY THIS TEMPLATE</a>
</section>