<section class="split-product bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 text-center product-image wow zoomIn">
        <img src="img/nest.png" alt="" class="img-responsive">
      </div>
      <div class="col-md-6 product-features">
        <div class="row section-header v3 wow fadeIn">
          <h2>Hexomood</h2>
          <p>Tell about your product and show an images rigth newt to this description. And also you can write down all the benefits.</p>
        </div>
        <ul class="nav">
          <li class="wow fadeIn" data-wow-delay="0.2s">Your product feature</li>
          <li class="wow fadeIn" data-wow-delay="0.4s">Your product feature</li>
          <li class="wow fadeIn" data-wow-delay="0.6s">Your product feature</li>
          <li class="wow fadeIn" data-wow-delay="0.8s">Your product feature</li>
        </ul>
      </div>
    </div>
  </div>
</section>