<section class="split-fullscreen no-padding bg-gray">
  <div class="drop-margins">
  <div class="row same-height-row">
    <div class="col-sm-6 image-section wow fadeInLeft">
      <img src="img/space-1.jpg" alt="">
    </div>
    <div class="col-sm-6 content-section fadeInRight">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <div class="title-box-icon title-about">
              <img src="img/icons/summer/Sun.svg" alt="">
              <h3 class="title">What we do?</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="feat-description text-center">
            <h4 class="text-muted">Sed risus feugiat fusce eu sit.</h4>
            <p class="text-muted">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam. Sed risus feugiat fusce eu sit conubia venenati.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row same-height-row">
    <div class="col-md-push-6 col-sm-6 image-section fadeInLeft">
      <img src="img/space-2.jpg" alt="">
    </div>
    <div class="col-md-pull-6 col-sm-6 content-section fadeInRight">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <div class="title-box-icon title-about">
              <img src="img/icons/summer/Watermelon.svg" alt="">
              <h3 class="title">Why we do?</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="feat-description text-center">
            <h4 class="text-muted">Sed risus feugiat fusce eu sit.</h4>
            <p class="text-muted">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam. Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>