<section class="testimonials testimonials--carousel bg-gray" id="feedback">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="img/people/oleg.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="img/people/mark.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="img/people/mark.png" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M36.146 14.293L19 31.293v1.414l17.146 17 1.488-1.414L21.377 32l16.238-16.293z"></path></svg>
      </a>
    <a data-slide="next" href="#quote-carousel" class="right carousel-control">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M45 31.293l-17.146-17-1.488 1.414L42.623 32 26.312 48.293l1.551 1.414 17.137-17z"></path></svg>
    </a>
  </div>
</section>