<section class="no-padding testimonials testimonials--default" id="feedback">
  <div class="gradient-cover">
  <div class="container">
    <div class="quotes">
      <div class="single-quote" id="person-1-quote">
        <img src="img/people/peter.png" alt="Mark avatar" class="person-avatar--lg wow fadeIn">
        <p class="quote wow fadeIn" data-wow-delay="0.3">
          “Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per
          Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per”
        </p>
        <span class="person-name wow fadeIn" data-wow-delay="0.6">
          Peter - Googlehcdhbcdh
        </span>
      </div>
      <div class="single-quote" id="person-2-quote">
        <img src="img/people/oleg.png" alt="Mark avatar" class="person-avatar--lg wow fadeIn">
        <p class="quote wow fadeIn" data-wow-delay="0.3">
          “Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per
          Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per”
        </p>
        <span class="person-name wow fadeIn" data-wow-delay="0.6">
          Oleg - Googlehcdhbcdh
        </span>
      </div>
      <div class="single-quote single-quote--active" id="person-3-quote">
        <img src="img/people/mark.png" alt="Mark avatar" class="person-avatar--lg wow fadeIn">
        <p class="quote wow fadeIn" data-wow-delay="0.3">
          “Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per
          Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per”
        </p>
        <span class="person-name wow fadeIn" data-wow-delay="0.6">
          Mark - Googlehcdhbcdh
        </span>
      </div>
      <div class="single-quote" id="person-4-quote">
        <img src="img/people/jason.png" alt="Mark avatar" class="person-avatar--lg wow fadeIn">
        <p class="quote wow fadeIn" data-wow-delay="0.3">
          “Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per
          Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per”
        </p>
        <span class="person-name wow fadeIn" data-wow-delay="0.6">
          Jason - Googlehcdhbcdh
        </span>
      </div>
      <div class="single-quote" id="person-5-quote">
        <img src="img/people/maria.png" alt="Mark avatar" class="person-avatar--lg wow fadeIn">
        <p class="quote wow fadeIn" data-wow-delay="0.3">
          “Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per
          Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per”
        </p>
        <span class="person-name wow fadeIn" data-wow-delay="0.6">
          Maria - Googlehcdhbcdh
        </span>
      </div>
    </div>
    <hr class="divider" />

    <div class="person-selector">
      <div class="person wow fadeInUp" id="person-1" data-wow-delay="0.6">
        <img src="img/people/peter.png" alt="Peter">
      </div>
      <div class="person wow fadeInUp" id="person-2" data-wow-delay="0.3">
        <img src="img/people/oleg.png" alt="Oleg">
      </div>
      <div class="person wow fadeInUp person--active" id="person-3">
        <img src="img/people/mark.png" alt="Mark">
      </div>
      <div class="person wow fadeInUp" id="person-4" data-wow-delay="0.3">
        <img src="img/people/jason.png" alt="Jason">
      </div>
      <div class="person wow fadeInUp" id="person-5" data-wow-delay="0.6">
        <img src="img/people/maria.png" alt="Maria">
      </div>
    </div>
  </div>
  </div>
</section>