<section class="bg-gray testimonials testimonials--quotes" id="feedback">
  <div class="section-heading">
    <h2>Words from our community</h2>
    <p>All your customers will definitely love this design as well as your developers!</p>
  </div>

  <div class="container">
    <div class="text-center">
        <div class="row">
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
            <div class="testimonial-quote text-left">
              <p class="text-muted">
                “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation”
              </p>
            </div>

            <div class="testimonial-person text-left">
              <div class="testimonial-person__avatar">
                <img src="img/people/mark.png" alt="Mark">
              </div>
              <div class="testimonial-person__text">
                <label class="testimonial-person__name">Mark</label>
                <p class="testimonial-person__work text-muted">Google inc.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="testimonial-quote text-left">
              <p class="text-muted">
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation”
              </p>
            </div>

            <div class="testimonial-person text-left">
              <div class="testimonial-person__avatar">
                <img src="img/people/oleg.png" alt="Mark">
              </div>
              <div class="testimonial-person__text">
                <label class="testimonial-person__name">Oleg</label>
                <p class="testimonial-person__work text-muted">Techcrunch inc.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp">
            <div class="testimonial-quote text-left">
              <p class="text-muted">
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation”
              </p>
            </div>

            <div class="testimonial-person text-left">
              <div class="testimonial-person__avatar">
                <img src="img/people/jason.png" alt="Mark">
              </div>
              <div class="testimonial-person__text">
                <label class="testimonial-person__name">Jason</label>
                <p class="testimonial-person__work text-muted">Apple inc.</p>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end Col -->

    </div>
</section>