<section class="video-1 no-padding">
  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px"
         controls preload="none" poster='img/design-video-snapshot.png'
         data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="video/Design.mp4" type='video/mp4' />
    <div class="vjx-poster"></div>
  </video>
</section>