<header class="devices-on-right">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-6 col-sm-12">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 class="wow fadeInUp">Simple, powerfull and ready to use!</h1>
            <a href="#download" class="btn btn-rect btn-rect--primary btn-xl page-scroll wow fadeInUp" data-wow-delay="0.3">Sign up for free!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6">
        <div class="devices-container">
          <img src="img/devices-with-medium.png"  alt="">
        </div>
      </div>
    </div>
  </div>
</header>