<header class="general__image-gradient">
  <div class="header-mask">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading" class="wow fadeInUp">Elisa is a fully responsive multipurpose landing page template</h1>
        <hr>
        <p class="wow fadeInUp" data-wow-delay="0.3s">Elisa if a <i>multipurpose fully responsive</i> landing page template, that was built using latest Bootstrap framework
        and top technologies. Tons of components and well-written and commented code allows you to customize our theme as you want!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll wow fadeInUp" data-wow-delay="0.6s">Find Out More</a>
      </div>
    </div>
  </div>
</header>