<header class="mobile-on-right">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 class="wow fadeInUp">Elisa template can help you to promote your new beautiful app!</h1>
            <a href="#download" class="btn btn-primary btn-xl page-scroll wow fadeInUp" data-wow-delay="0.3">Start Now!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container wow fadeInRight">
          <div class="device-mockup iphone6 portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="img/mobile-screen-1.png" class="img-responsive" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>