<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li><a href="">Vk</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="">Help &amp; Support</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms &amp; Conditions</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <h5>Contact</h5>
        <address>
          19 Karl Johan Gate<br>
          Oslo, Norway, 59.913 <br>
          P: (123) 456-7890<br>
          E: <a href="mailto:#">email@email.com</a>
        </address>
      </div>

    </div>

    <div class="row bottom-row">
      <div class="col-sm-12">
        <div class="footer-alt text-center">
          <p>2017 © Elisa</p>
        </div>
      </div>
    </div>

  </div>
</footer>